@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px
}

.nav ul {
    display: flex;
    gap: 30px;
    font-size: 15px;
}

.nav a:hover {
    border-bottom: #5a5a5a 2px solid;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.user {
    display: flex;
    gap: 20px;
}

.logo {
    font-size: 52px;
    font-weight: 600;
}

.search-icon,
.favorite-icon,
.login-signup,
.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    size: 12px;
}

header img {
    height: 26px;
}

#user-icon {
    padding: 5px;
}

.cart p {
    font-size: 12px;
    color: #000;
}

/* PRODUTOS */

.banner {
    max-width: 100vw;
    height: 50vw;
    max-height: 700px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* LANCAMENTOS */

.lancamentos {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}

.lista-produtos {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
}

.lancamentos h2 {
    padding: 24px;
    font-weight: 400;
}

.lista-produtos img {
    width: 100%;
    height: 491px;
    padding: 10px 12px;
    /* cursor: pointer; */
    margin: 15px 0;
    line-height: 0.5px;
    object-fit: cover;
}

.pro {
    width: 20%;
    max-width: 500px;
}

.stars i {
    color: #ffc240;
    font-size: 10px;
}

.lancamentos h5 {
    font-weight: 400;
}

.lancamentos #ref {
    font-size: 10px;
}

.lancamentos h4 {
    color: #ff5d46;
}

.lancamentos #boleto {
    color: #ff5d46;
    font-weight: 600;
    font-size: 10px;
}

.lancamentos #vezes {
    font-size: 10px;
}

.botao {
    bottom: 0;
    left: 0;
    width: 100%;
}

.compre-button {
    background-color: #5a5a5a;
    color: #fff;
    bottom: -40px;
    left: 50%;
    padding: 2px 3rem;
    font-size: small;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
}

/* .pro:hover .botao {
    display: block;
} */

.lista-produtos a:hover {
    border-bottom: #5a5a5a solid;
}

.features-container {
    background-color: #000;
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.feature-images {
    text-align: center;
}

.feature-images h4,
p {
    color: #fff;
}

.feature-images img {
    padding-bottom: 2rem;
}

.image-container {
    display: flex;
    justify-content: center;
    width: 1600px;
    gap: 50px;
}

.colecoes {
    width: 100%;
    background-color: black;
    height: 900px;
    display: flex;
    align-items: center;
}

.esquerda,
.direita {
    height: 100%;
    width: 100%;
}

.direita {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.linhas {
    padding: 40px 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 30px;
}

#camisolas {
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7)), url(./img/camisolas.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

#linha-noite {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(./img/linha-noite.jpg);
    background-size: cover;
    height: 50%;
    width: 100%;
}

#sutias {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(./img/sutias.jpg);
    background-size: cover;
    height: 50%;
    width: 100%;
}

.linhas-texto {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: white;
}

.linhas-texto h2 {
    font-family: "Allura", cursive;
    font-weight: 100;
    font-size: 100px;
    font-style: italic;
    line-height: 0.8;
}

.colecoes p {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 200;
}

.colecoes button {
    background-color: transparent;
    color: white;
    width: 30%;
    padding: 5px;
    border: white 2px solid;
    margin-top: 15px;
    font-size: 18px;
}

.banner-fixo {
    max-width: 100vw;
    height: 50vw;
    max-height: 700px;
}

.banner-fixo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.depoimentos {
    margin: 100px 0;
}

.depoimentos-persona {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}

.persona-info h5 {
    color: #9e7566;
}

.depoimentos-background {
    height: 650px;
    background-color: #000;
}

.depoimentos-texto {
    color: white;
    text-align: center;
    padding-top: 50px;
}

.depoimentos-texto h2 {
    font-size: 48px;
    font-weight: 300;
}

.depoimentos-texto p {
    font-family: "Allura", cursive;
    font-style: italic;
    font-size: 48px;
    font-weight: 100;
}

.persona1,
.person2,
.persona3 {
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 5px;
}

.persona1 p {
    color: black;
}

.persona-header {
    display: flex;
    margin-bottom: 25px;
}

.persona-header img {
    border-radius: 50px;
}

.persona-info {
    text-align: center;
    flex: 2 1 0%;
}

.persona-text {
    display: flex;
}

.persona-text blockquote {
    padding: 15px;
}

#quote-right {
    display: flex;
    align-items: flex-end;
}

#quote-right,
#quote-left {
    color: #aa7065;
}

.dots {
    display: flex;
    justify-content: center;
    color: #fff;
    padding-top: 50px;
}

.dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.dots .active {
    width: 30px;
}

/* FORM */

.form {
    width: 100%;
    margin-top: 100px, 0;
}

.form-bg {
    height: 350px;
    width: 100%;
    background-color: #5a5a5a;
    padding: 0 350px;
}

.form-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    margin: 100px;
}

.texto-form {
    color: white;
}

.loja-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 32px;
    margin-bottom: 50px;
    width: 80%;
    height: 200px;
    background: white;
}

.loja-duvida {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.imagem-loja {
    padding: 20px;
    width: 70%;
}

.imagem-loja h2 {
    display: flex;
    width: 100%;
    height: 95%;
    margin: 5px;
    background: #5a5a5a;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.whatsapp {
    padding: 20px;
    width: 40%;
    margin: 25px;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(./img/whatsapp.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.whatsapp h2 {
    font-family: "Allura", cursive;
    font-size: 48px;
    color: #fff;
}

.logo {
    font-size: 48px;
}

.cadastrar {
    padding: 4px 16px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    margin-top: 100px;
}

.sm-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    font-size: 32px;
    padding: 50px;
}

.info-footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    overflow: auto;
}

.info-footer h4 {
    font-size: 14px;
    color: #5a5a5a;
    padding-bottom: 10px;
}

.institucinal {
    display: flex;
    flex-direction: column;
    color: #000;
}

.contato p {
    color: #000;
}

#cnpj p {
    color: #000;
    font-size: 12px;
    text-align: center;
    margin: 5px;
}

#disclaimer p {
    color: #000;
    text-align: center;
    font-size: 10px;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.nav ul {
    display: flex;
    gap: 30px;
}

@media (max-width: 768px) {

    .menu-icon {
        display: block;
    }

    .nav ul {
        display: none;
        flex-direction: column;
        gap: 15px;
        background-color: #fff;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        padding: 10px;
    }

    .nav ul.active {
        display: flex;
    }


    .nav ul {
        flex-direction: column;
        gap: 10px;
        font-size: 12px;
    }

    .user {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .lista-produtos {
        flex-direction: column;
    }

    .pro {
        width: 90%;
    }

    .colecoes,
    .banner,
    .banner-fixo {
        height: auto;
    }

    .banner{
        width: 100%;
    }

    .esquerda, .direita{
        width: 100%;
    }

    .linhas{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    #p2, #p3{
        display: none;
    }

    #camisolas, #linha-noite, #sutias{
        width: 100%;
    }

    .features-container{
        height: auto;
        padding: 20px 0;
    }

    .image-container{
        display: flex;
        flex-direction: column;
    }

    .depoimentos-background{
        height: auto;
        padding: 0 10px;
    }

    .depoimentos-persona{
        display: flex;
        flex-direction: column;
    }

    .dots{
        padding-bottom: 15px;
    }

    .form-bg{
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .form-text{
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        text-align: center;
    }

    .form-text p{
        padding: 10px;
    }

    #form-inputs input, #form-input button{
        margin: 5px;
    }

    .loja-duvida{
        top: 10px;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .loja-duvida{
        display: none;
    }

    .sm-icons{
        margin-top: -100px;
    }

    .info-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}